.grid {
    border: 1px solid black;
    margin: 2em auto;
    width: 320px;
    height: 300px;
}

.grid div {
    height: 50px;
    width: 80px;
    border: 1px solid black;
    box-sizing: border-box;
    font-weight: bold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}

h1 {
    text-align: center;
}

hr {
    height: 0.1em;
    background-color: black;
    border-radius: 12px;
    border: none;
}

/* ---------------------------------- */

/* 1. Sorok, oszlopok */
/* Sorok magassága: 50px */
/* Oszlopok szélessége: 80-110-50-80*/
.grid {
    display: grid;
}

#d1 .grid {
    grid-template-columns: 80px 110px 50px 80px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.grid div {
    width: 100%;
    height: 100%;
}

#d1 .red {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}

#d1 .yellow {
    grid-row: 1 / 6;
    grid-column: 4 / 5;
}

#d1 .green {
    grid-row: 3 / span 2; /* 3 + 2 => 5 */
    grid-column: 1 / span 3;
}

/* 2. Rövidítések (shorthand property) */
/* Sorok: 50px */
/* Oszlopok: 80px */

#d2 .grid {
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 80px 80px 80px 80px; */
    /* grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(4, 80px); */
    grid-template: repeat(6, 50px) / repeat(4, 80px);
}

/* BF (bal felső) -> JA (jobb alsó) */
/* Pont(sor, oszlop) */
#d2 .red {
    grid-area: 1 / 1 / 2 / 3;
}

#d2 .green {
    grid-area: 2 / 1 / 5 / 3;
}

/* 3. Elnevezések */
/* Grid szélessége: 80% */
/* 480px-re és kisebbekre átrendeződik! */





/* 4. Fractional unit (fr) */
/* 3 rész, 7 egység */
/* 2/7 1/7 4/7 arányban felosztva*/





/* 5. Minmax */
/* 3 egyenlő részre felosztva */
/* A középső legalább 200px legyen! */
/* A jobb oldali legalább 50px legyen! */





/* 6. Repeat + Minmax + gap */
/* Legalább 200px széles oszlopok */
/* Flexibilis megjelenítés: annyi oszlop, ahány fér */
/* 10px és 4px kihagyás */





/* 7. Igazítások */
/* Sorok: 3db, 25%-os */
/* Oszlopok: 3db 30%-os */
/* Belső div-ek mérete 50% mindkét irányban! */




