* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

h1, h2 {
    margin: 0.5em auto;
}

section {
    margin: 1em auto;
    padding: 1em;
}

h1 span {
    color: darkred;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2), -1px -1px 20px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1em;
}

nav ul li a:hover {
    background-color: rgba(255, 165, 0, 0.2);
}

#ertekeles {
    background-color: lightgoldenrodyellow;
}

#ertekeles p {
    text-align: center;
    font-weight: bold;
}

#ertekeles div {
    border: 2px solid black;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}

img {
    max-width: 100%;
}

.kategoria {
    border: 2px dashed black;
    text-align: center;
}

.kategoria p {
    font-size: 2em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-variant: small-caps;
}

.kategoria:hover {
    cursor: pointer;
}

.kategoria:hover p{
    text-decoration: underline;
}

form input {
    font-size: 0.75em;
}

form {
    font-size: 1.5em;
    margin: 0.25em;
    padding: 1em;
    background-color: lightyellow;
}

label:not(label:has(input)), input:not(label input) {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 0.5em;
}

input {
    padding: 1em;
}

.szeles div label{
    padding: 0.5em;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.5em;
    transform: scale(1.25);
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* Menü formázása + animáció */

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: flex;
    flex-grow: 1;
}

nav ul li a {
    flex-grow: 1;
    text-align: center;
    text-shadow: 0 0 1px black;
    transition: letter-spacing 0.5s;
    animation: megjelenes 10s;
}

nav ul li a:hover {
    letter-spacing: 2px;
}

@keyframes megjelenes {
    0% {
        transform: scale(0);
        text-shadow: 0 0 10px black;
    }
    80% {
        transform: scale(1.5);
        text-shadow: 0 0 1px black;
    }
    100% {
        transform: scale(1);
    }
}

/* ------------------------------------------------------------------- */
/* Értékelés formázása */

#ertekeles {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 5fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1em;
    align-items: center;
}

#ertekeles img {
    /* grid-column: 1 / 2; */
    /* grid-row: 1 / 4; */
    grid-row: span 3;
}

#ertekeles h2 {
    grid-row: span 3;
}

#csik {
    background: linear-gradient(to right, red, yellow, green);
    position: relative;
    /* overflow: hidden; */
}

#csik::before {
    content: "";
    /* width: 100%;
    height: 100%; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    inset: 0;
    background-color: white;
    position: absolute;
    border-radius: 20px;
    animation: toltes 3s forwards;
}

/* Értékelés animáció */

@keyframes toltes {
    0% {
        left: 0;
    }
    25%, 100% {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    100% {
        left: 90%;
    }
}


/* ------------------------------------------------------------------- */
/* Kategóriák formázása + áttűnés */

/* main section:nth-child(3) > div { */
div:has(div.kategoria) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em 0.5em;
    justify-items: center;
}

.kategoria {
    height: 280px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: border-radius 0.25s;
    overflow: hidden;
}

.kategoria:hover {
    border-radius: 50%;
    border-style: solid;
}

/* ------------------------------------------------------------------- */
/* Űrlap formázása */

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: center;
}

.szeles {
    grid-column: 1 / -1;
}

.szeles div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.szeles div label {
    /* flex-basis: 200px; */
    width: 200px;
    flex-grow: 1;
}

/* ------------------------------------------------------------------- */
/* Űrlap animáció */



