* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 1em;
}

nav ul {
    padding-left: 0;
}

a {
    color: black;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

header, footer {
    background-color: lightgoldenrodyellow;
}

header p, footer {
    padding: 1em;
    text-align: center;
    flex-grow: 1;
}

footer {
    text-align: center;
    margin-top: 1em;
}

strong {
    color: darkred;
}

.keress {
    font-weight: bold;
    padding: 1em;
    color: white;
    background-color: black;
}

#hirdetes {
    background-color: lightgray;
    margin: 1em auto;
}

.kartya * {
    margin: 1em auto;
}

.kartya p {
    text-align: center;
}

.kartya ul {
    list-style: none;
    padding-left: 0;
    margin: 1em;
}

.kerjen-ajanlatot {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
}

.kerjen-ajanlatot:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.kartya {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    line-height: 2em;
}

#szoveg p {
    font-weight: bold;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------- */

/* Menü (header) */
header {
    display: flex;
    flex-wrap: wrap;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header nav ul li {
    display: flex;
    flex-grow: 1;
}

header nav ul li a {
    flex-grow: 1;
    text-align: center;
}

header nav ul li:first-of-type {
    order: 1;
}

/* Fő tartalmi rész (main) */
/* "Hirdetés" magassága: 60vh */
/* Kép: fent középre pozícionálva takar */
/* Kép szélessége 200px, nem csökkenhet */
/* Kimaradó részt a szöveg tölti ki! */
#hirdetes {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#szoveg {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#kep {
    background-image: url("epitesz.jpg");
    background-size: cover;
    background-position: top center;
    width: 200px;
    /* flex-grow: 1; */
}

/* Linkekre rámutatva sötétebb háttér */
/* 10%-os fekete */
a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    transition: all 0.5s;
}

/* Aláhúzás (linkek) */
/* Magassága: 2px fekete vonal */
/* Vigyázat: linkeken 1em padding van! */
/* Megjelenés: 0.5s */
/* Balról jobbra jön és megy */
span {
    position: relative;
}

nav ul li a span::after {
    /* outline: 2px solid black; */
    content: "";
    height: 2px;
    /* width: calc(100% - 2em); */
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li a:hover span::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* "Bármit megvalósítunk" */
/* 85%-ról 120%-ra növekedés */
#szoveg p {
    /* font-size: 85%; */
    transform: scale(85%);
    transition: transform 0.5s;
}

#hirdetes:hover #szoveg p {
    /* font-size: 120%; */
    transform: scale(120%);
}

/* Keress felirat */
/* kerek sarkok + mutató kurzor + shadow rámutatáskor 0.25s */
/* forgás az előző nagyítása után 1s */
#hirdetes:hover .keress {
    transform: rotate(360deg);
    transition: all 0.25s, transform 1s 0.5s;
    /* transition-delay: 0.5s; */
}

/* Gond: dupla transition tulajdonság kiüti egymást! */
/* #hirdetes:hover .keress {
    transition: all 0.25s;
} */

#hirdetes .keress:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 20px lightgoldenrodyellow;
}

/* Ajánlatok - kártyák */
/* Kihagyás köztük: 2em */
/* Kártya alapméret: 250px */
#ajanlatok {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.kartya {
    /* flex-basis: 250px; */
    flex-grow: 1;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Töréspont 552px-nél */
/* Ne legyenek menü aláhúzások! */
/* A nagyított szöveg csak 100% legyen! */
@media (max-width: 552px) {
    #hirdetes:hover #szoveg p {
        transform: scale(100%);
    }

    nav ul li a::after {
        display: none;
    }
}
