div div {
    height: 50px;
    width: 100px;
    background-color: lightgray;
}

div.megjelenes {
    background-color: darkgreen;
}

div.jobbra-balra {
    margin: 1em 0;
    background-color: yellow;
}

button.remeg {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.t2:first-of-type {
    margin-left: 10vw;
}

.t2 {
    background-color: darkgray;
}

.forgo {
    width: fit-content;
    height: auto;
    border: 2px solid black;
    background-color: white;
}

img {
    height: 300px;
    display: block; 
    margin: auto;
}

footer {
    height: 10vw;
}

/* ------------------------------------------ */

/* 1. Megjelenő doboz */
/* Legyen látható 3 másodperc alatt! */
.megjelenes {
    animation: elotunes 3s;
}

@keyframes elotunes {
    from {
        background-color: blue;
        opacity: 0%;
    }
    to {
        background-color: red;
        opacity: 100%;
    }
}


/* 2. Jobbra-balra közlekedő dobozok */
/* Mozogjanak 500 pixelt, 3 mp alatt, fél mp késve indulva, 3-szor */
/* body>div:nth-of-type(2) {
    background-color: gray;
    width: 50%;
} */

div.jobbra-balra {
    /* animation: mozgas 3s 0.5s 1 forwards; */
    animation-name: mozgas;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 3;
    /* animation-fill-mode: forwards; */
}

@keyframes mozgas {
    0% {
        transform: translateX(0);
    }
    50% {
        /* transform: translateX(500px) translateY(200px); */
        /* transform: translate(500px, 200px); */
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}

div#d0 {
    animation-timing-function: linear;
}

div#d1 {
    animation-timing-function: ease;
}

div#d2 {
    animation-timing-function: ease-in; /* gyorsuló */
}

div#d3 {
    animation-timing-function: ease-out; /* lassuló */
}

div#d4 {
    animation-timing-function: ease-in-out; /* gyorsuló-lassuló */
}

/* 3. Remegő gomb */
/* 5 fok mértékben remegjen, egy mozdulatsor negyed mp */
/* Álljon meg ha rámutatunk */
button.remeg {
    animation: remeges 0.25s infinite;
}

button.remeg:hover {
    animation-play-state: paused;
}

@keyframes remeges {
    /* 0%, 100% {
        transform: rotate(0);
    } */
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}


/* 4. Töltés */
/* 10px vastagságú legyen a körgyűrű */
/* Egy fordulat 4 mp */
div.toltes {
    border: 10px solid white;
    border-top-color: lightgreen;
    height: 100px;
    border-radius: 50%;
    animation: toltes 4s infinite ease-out;
    /* background-color: white; */
}

@keyframes toltes {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 5. Töltés (pontok) */
/* Pontok mérete: 10px */
/* Pontok várakozása: idők harmadai */




/* 6. Forgó */
/* Forgó magassága 300px */
/* Mindegyik kép ugyanannyi ideig látszik: animáció 20%-a */



