body {
    padding: 1em;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
}

label, p, span {
    margin: 0.5em 0;
    /* background-color: rgb(255, 255, 230); */
    padding: 0.25em;
    width: fit-content;
}

label p {
    padding: 0;
    margin-top: 0;
}

label input {
    margin-top: -2px;
}

label * {
    vertical-align: middle;
}

/* Azok az inputok kapjanak padding-et, akik nem 'color' típusúak. */
input:not(input[type='color']) {
    padding: 0.25em;
}

fieldset {
    padding: 0 0.5em;
    margin: 1em 0;
    border-color: black;
}

.inline label {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
}

#polo {
    margin: 0.25em;
    margin-bottom: 1em;
}

/* ----------------------------------------------- */

label {
    display: block;
}

/* * {
    user-select: none;
} */

input[type="reset"], input[type='submit'], input[type=button] {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
}

/* pszeudo-szelektor: Milyen állapotban van az elem? */
input:disabled {
    cursor: not-allowed;
}

legend {
    text-align: center;
    padding: 1em;
}

/* label:has(input[type="radio"]) {
    background-color: lightblue;
} */

select[multiple] {
    min-width: 50px;
    max-width: 200px;
    height: 100px;
    width: 100px;
    resize: both; /* horizontal, vertical */
}

select[name="polo"], textarea {
    margin-left: 6px;
}

textarea {
    resize: none;
}

/* pszeudo-elem szelektor: Az elem egy részének formázása. */
textarea::placeholder {
    color: red;
}

input[readonly] {
    text-align: center;
    /* width: fit-content; */
}