header {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    font-family: Impact, sans-serif;
    font-size: 6vw; /* viewport width */
    font-variant: small-caps;
    letter-spacing: 4px;
    text-align: center;
}

/* Ez mi ez? (Ilyet ne!) */
header .row div {
    display: table;
}

header .row div p {
    display: table-cell;
    vertical-align: middle;
}

footer, footer div {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
}

footer {
    text-align: center;
}

#kapcsolat span {
    font-weight: bold;
    float: left;
    width: calc(100% / 3);
}

/* Ne lóghassanak ki a benne lebegő elemek. */
#kapcsolat {
    overflow: auto;
}

#kozosseg img {
    height: 1em;
    margin-right: 6px;
}

/* 
    inline (span): egymás mellé, nincs height + margin
    block (div): egymás alá, van height + margin
    inline-block (~img): egymás mellé, van height + margin
*/
#kozosseg a {
    background-color: var(--feher);
    color: darkblue;
    text-decoration: none;
    margin: 12px;
    padding: 5px 20px;
    display: inline-block;
}

/* Fölé visszük a kurzort */
#kozosseg a:hover {
    background-color: lightgray;
    color: black;
}

/* Akkor érvényes, ha az oldal szélessége max 675px. */
/* (min-width: 200px) and (max-width: 675px) */
@media (max-width: 675px) {
    header {
        letter-spacing: 0;
    }

    #kapcsolat span {
        width: 100%;
        margin: 2% auto;
    }

    #kozosseg p {
        display: none;
    }
}