@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik+Bubbles&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 2em;
    background-color: antiquewhite;
}

h1, h2 {
    margin: 1em auto;
}

p {
    margin: 1em 0;
    text-align: justify;
    font-family: "Quite Magical";
}

ul {
    font-family: "Quite Magical";
    font-size: 0.75rem;
    padding-left: 1em;
}

li {
    margin: 0.1em 0;
    font-size: 1rem;
}

hr {
    margin: 1em 0;
}

table {
    background-color: white;
    margin: auto;
    border: 3px solid black;
}

td, th {
    padding: 0.5em;
}

article table {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

label {
    display: inline-block;
    margin: 0.3em auto;
    font-family: "Quite Magical";
}

img {
    display: inline-block;
    vertical-align: middle;
}

footer p {
    margin: 0.5em auto;
}

footer div {
    text-align: center;
    margin: 0;
}

footer img {
    height: 3em;
}

/* ---------------------------------------------- */
/* Betűtípus */

@font-face {
    font-family: "Quite Magical";
    src: url("Fonts/QuiteMagicalRegular-8VA2.ttf");
}

h1 {
    text-align: center;
    font-family: "Indie Flower";
}

h2 {
    font-family: "Quite Magical";
}

/* ---------------------------------------------- */
/* Mese */

/* Kombinátor: (space), +, ~, > */
/* +: következő testvér */
/* ~: későbbi testvér */
/* >: közvetlen leszármazott (gyermek) */
/* pseudo-element ::placeholder */
h2 + p::first-line {
    font-weight: bold;
    color: darkred;
}

/* Milyen állapotban van? */
/* psuedo-class :hover :focus :required */
h2 + p::first-letter {
    color: black;
    initial-letter: 2;
    margin-right: 0.25em;
}

h2 + p::selection {
    color: black;
    background-color: white;
}

/* ---------------------------------------------- */
/* Törpök nevei */

/* label[for] {
    color: gray;
} */

br ~ label {
    color: gray;
    margin-right: 1em;
}

input:checked + label {
    color: green;
}

input {
    /* outline: 1px solid red; */
    vertical-align: middle;
}

label {
    /* outline: 1px solid red; */
    vertical-align: middle;
}

/* Specificity: (id, class, type) */
/* id */
/* class, :pseudo-class */
/* type, ::pseudo-element */
li:first-of-type {
    color: darkred;
}

/* #kuka {
    color: blue;
}

.kettes {
    color: yellow;
} */

li:first-of-type ~ li {
   color: green; 
}

li::marker {
    color: gold;
    font-size: 1.5em;
    /* content: "🚗 "; */
}

h2::before {
    content: "🎄";
    font-size: 1.25em;
    margin-right: 0.5em;
}

/* li::after {
    content: ";";
}

li:last-of-type::after {
    content: "";
} */

li:not(:last-of-type)::after {
    content: ";";
}

/* ---------------------------------------------- */
/* Disney rajzfilmek */

tr:first-of-type {
    background-color: black;
    color: white;
}

td:first-of-type, td:last-of-type {
    text-align: center;
}

/* Azt a sort, ahol van kedvenc osztályú cella. */
tr:has(td.kedvenc) {
    background-color: lightgreen;
}

/* ---------------------------------------------- */
/* Disney rajongók */

table:last-child {
    border-collapse: separate;
    border-spacing: 1em;
}

/* tr:nth-child(3), tr:nth-child(5), tr:nth-child(7), tr:nth-child(9) {
    background-color: lightcoral;
} */

/* odd: 2n+1 */
/* n = 0, 1, 2, ... */
/* nth-child(An+B) -> B, B+A, B+2A, B+3A, ... */
article table tr:nth-child(2n+1):not(:first-child) {
    background-color: lightcoral;
}

/* even: 2n */
article table tr:nth-child(2n) {
    background-color: lightblue;
}

/* ---------------------------------------------- */
/* Footer */

footer p {
    text-align: center;
}

/* footer p:not(div p) {
    color: darkred;
} */

/* >: közvetlen leszármazott */
footer>p {
    color: darkred;
}