audio {
    width: 80%;
    display: block;
    margin: auto;
    /* background-color: red; */
    /* color: red; */
}

iframe {
    width: 80%;
    height: 500px;
    margin-bottom: 200px;
    border: 2px solid black;
}