body {
    font-family: Arial, sans-serif;
    margin: auto;
    width: 80%;
    padding: 0;
    background-color: #f4f4f4;
}

body>div {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.elem {
    background-color: #3498db;
    color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    /* Igazítás */
    line-height: 100px;
    text-align: center;
}

.flexibilis {
    background-color: rgba(0, 255, 0, 0.1);
}

hr {
    border: 5px solid black;
}

/* -------------- Flexbox -------------- */

/* 1. Dinamikus méret */
/* .elem {
    display: inline-block;
} */

.flexibilis {
    display: flex;
}

#b1 {
    gap: 3px;
}

/* 2. "Vízszintes" igazítás */
/* start, center, end */
/* space-between, space-around, space-evenly */
#b2 {
    justify-content: space-evenly;
}

/* 3. "Függőleges" igazítás */
/* start, center, end */
#b3 {
    height: 300px;
    align-items: center;
}

/* 4. Igazítás iránya */
/* justify-content: elsődleges tengely szerint igazít */
/* align-items: másodlagos tengely szerint igazít */
/* row (default), column */
#b4 {
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* 5. Tördelés */
/* nowrap (default), wrap */
#b5 {
    flex-wrap: wrap;
    /* row-gap: 2em;
    column-gap: 5em; */
    gap: 2em 5em;
}


/* --------------- Elemek --------------- */

/* 6. Elemek sorrendje */
/* #b6 .e1 {
    order: 2;
}

#b6 .e2 {
    order: 3;
}

#b6 .e3 {
    order: 1;
} */

#b6 .e3 {
    order: -1;
}

/* 7. Elemek igazítása */
/* Elem magasságok is flexibilisek! */
#b7 {
    height: 400px;
    align-items: start;
}

#b7 .elem {
    height: unset;
}

#b7 .e3 {
    align-self: stretch;
}

#b7 .e6 {
    align-self: center;
}

/* 8. Nyújtás */
/* 1:2, maradék */
#b8 .elem {
    border: 2px solid black;
}

#b8 .e1 {
    flex-grow: 1;
}

#b8 .e2 {
    flex-grow: 2;
}

/* 9. Zsugorítás */
/* Nem zsugorodik, 1:2 arányban */
#b9 .elem {
    width: 200px;
    border: 2px solid black;
}

#b9 .e1 {
    flex-shrink: 1;
}

#b9 .e2 {
    flex-shrink: 2;
}

/* Nem zsugorodhat */
#b9 .e3 {
    flex-shrink: 0;
}

/* 10. Alapméret */
/* Miben másabb a width-nél? */
#b10 {
    height: 800px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

#b10 .elem {
    border: 2px solid black;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

