body {
    font-family: Arial, sans-serif;
    margin: auto;
    width: 80%;
    padding: 0;
    background-color: #f4f4f4;
}

body>div {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.elem {
    background-color: #3498db;
    color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    /* Igazítás */
    line-height: 100px;
    text-align: center;
}

.flexibilis {
    background-color: rgba(0, 255, 0, 0.1);
}

hr {
    border: 5px solid black;
}

/* -------------- Flexbox -------------- */

/* 1. Dinamikus méret */
/* .elem {
    display: inline-block;
} */

.flexibilis {
    display: flex;
}

/* 2. "Vízszintes" igazítás */
/* start, center, end */
/* space-between, space-around, space-evenly */
#b2 {
    justify-content: space-evenly;
}

/* 3. "Függőleges" igazítás */
/* start, center, end */
#b3 {
    height: 300px;
    align-items: center;
}

/* 4. Igazítás iránya */
/* justify-content: elsődleges tengely szerint igazít */
/* align-items: másodlagos tengely szerint igazít */
/* row (default), column */
#b4 {
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* 5. Tördelés */
/* nowrap (default), wrap */
#b5 {
    flex-wrap: wrap;
}


/* --------------- Elemek --------------- */

/* 6. Elemek sorrendje */
#b6 .e1 {
    order: 2;
}

#b6 .e2 {
    order: 3;
}

#b6 .e3 {
    order: 1;
}

/* 7. Elemek igazítása */
/* Elem magasságok is flexibilisek! */


/* 8. Nyújtás */
/* 1:2, maradék */
#b8 .elem {
    border: 2px solid black;
}


/* 9. Zsugorítás */
/* Nem zsugorodik, 1:2 arányban */
#b9 .elem {
    width: 200px;
    border: 2px solid black;
}


/* 10. Alapméret */
/* Miben másabb a width-nél? */
#b10 .elem {
    border: 2px solid black;
}

